<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable = yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Title and other stuffs -->
    <title> <?php echo isset($metatitle) ? $metatitle : $title; ?> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<?php echo $metadesc; ?>">
    <meta name="keywords" content="<?php echo $metakeyword; ?>">
    <meta name="author" content="">
	<meta name="google-site-verification" content="olwczc3nc3-vWAy4G2_0-L87S-Sjw_HvXrYI26uRjKc" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href="/fe/style/bootstrap.css" rel="stylesheet">

    <!-- Main stylesheet -->
    <link href="/fe/style/style.css" rel="stylesheet">
    <!-- Stylesheet for Color -->
    <link href="/fe/style/orange.css" rel="stylesheet">
    <!-- Responsive style (from Bootstrap) -->
    <link href="/fe/style/bootstrap-responsive.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Dropdown stylesheet -->
    <link href="/fe/style/dropdown-menu-styles.css" rel="stylesheet">
    <!-- Flex Nav stylesheet -->
    <link href="/fe/style/flexnav.css" media="screen, projection" rel="stylesheet" type="text/css">
    <!-- Custom stylesheet -->
    <link href="/fe/style/custom-style.css" rel="stylesheet">

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="js/html5shim.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/frontend/favicon.png">

    <meta name="og:title" content="Sedona Healing Arts" />
    <meta name="og:description" content="Whatever path brought you here, there is a reason why you came. Open your ears and listen. Listen to the message that Sedona has for you." />
    <meta name="og:url" content="sedonahealingarts.com" />
    <meta name="og:image" content="<?php echo $base_url;?>/img/frontend/photo_101.jpg" />

    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '1617141355217381']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1617141355217381&amp;ev=PixelInitialized" /></noscript>

</head>

<body>

<!-- Header starts -->
<header>

    <div class="top-bg">
        <div class="contact-us-sun">
            <div class="contact-us-sun-inside">
                <h3>Make an appointment!</h3>
                <h1>Call 928-282-3875</h1>
                <h3>- OR -</h3>
                <a class="book" href="<?php echo $base_url;?>/booking"><div class="book-now">CLICK HERE TO BOOK ONLINE NOW</div></a>
            </div>
        </div>
        <div class="upper-header">
            <a href="https://www.facebook.com/SedonaHealingArtsAZ" target="_blank"><img src="/img/frontend/fb-social.png" alt="facebook"/></a>
            <a href="https://twitter.com/SedonaHealingAZ" target="_blank"><img src="/img/frontend/twitter-social.png" alt="twitter"/></a>
            <a href="https://www.youtube.com/channel/UC6iB7HyQ-LqJyDbIEEPeY6A" target="_blank"><img src="/img/frontend/youtube-social.png" alt="youtube"/></a>
          <a href="https://plus.google.com/110601167518772499280/posts" target="_blank"><img src="/img/frontend/gplus-social.png"  alt="google plus"/></a>
            <a href="mailto:contact@sedonahealingarts.com"><img src="/img/frontend/mail-social.png"  alt="email"/></a>
        </div>
        <div class="container">
            <div class="row top-header width390 sedona-logo-container">
                <div class="col-sm-12 width390">
                    <!-- Logo. Use class "color" to add color to the text. -->
                    <div class="sedona-logo">
                        <a href="<?php echo $base_url;?>"><img src="/img/frontend/sedonalogo.png"></a>
                    </div>
                </div>
                <!-- ===== SOCIALS ===== -->
                <!-- <div class="span4">

                  <div class="social-top">
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                  </div>

                </div> -->
                <!-- ===== END SOCIALS ===== -->
                <div class="contact-us-mobile center">
                    <h3>Make an appointment!</h3>
                    <h1>Call 928-282-3875</h1>
                    <h3>- OR -</h3>
                    <a class="book" href="<?php echo $base_url;?>/booking"><div class="book-now">CLICK HERE TO BOOK ONLINE NOW</div></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Web menu starts -->
    <div class="menu-bg web-menu navsticky">
        <div class="container menu-margin mob-container">
            <div class="row center">

                <div class="col-sm-12">
                    <!-- Navigation -->
                    <div id='cssmenu'>
                        <ul>
                            <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/healing'><span>HEALING</span></a>
                                <ul>
                          <?php
                          $getginfo = $healing;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/healing/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>


                                    <!-- <li><a class='caps' href='<?php echo $base_url;?>/page/chakrabalancingandcrystalhealing'><span>Chakra Balancing & Crystal Healing</span></a></li>
                                    <li><a class='caps' href='<?php echo $base_url;?>/page/reflexology'><span>reflexology</span></a></li>
                                    <li><a class='caps' href='<?php echo $base_url;?>/page/relaxation'><span>relaxation massage</span></a></li>
                                    <li><a class='caps' href='<?php echo $base_url;?>/page/hotstonemassage'><span>hot stone massage</span></a></li>
                                    <li><a class='caps' href='<?php echo $base_url;?>/page/deeptissuemassage'><span>deep tissue massage</span></a></li> -->
                                </ul>
                            </li>
                            <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/readings'><span>READINGS</span></a>
                                <ul>
                          <?php
                          $getginfo = $readings;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/readings/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>


                                    <!-- <li><a class='caps' href='<?php echo $base_url;?>/page/spiritualguidance'><span>spiritual guidance</span></a></li>
                                    <li><a class='caps' href='<?php echo $base_url;?>/page/intuitivereading'><span>intuitive reading</span></a></li>
                                    <li><a class='caps' href='<?php echo $base_url;?>/page/pastlifereading'><span>past life reading</span></a></li>
                                    <li><a class='caps' href='<?php echo $base_url;?>/page/couplesreading'><span>couple's reading</span></a></li> -->
                                </ul>
                            </li>
                        </li>
                        <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/acupuncture'><span>ACUPUNCTURE</span></a>
                            <ul>
                          <?php
                          $getginfo = $acupuncture;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/acupuncture/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>


                                <!-- <li><a class='caps' href='<?php echo $base_url;?>/page/spiritualacupuncture'><span>spiritual acupuncture</span></a></li>
                                <li><a class='caps' href='<?php echo $base_url;?>/page/elementsacupuncture'><span>5 elements acupuncture</span></a></li> -->
                            </ul>
                        </li>
                        <li class="hidden"><a href="<?php echo $base_url; ?>" class="mob-menu-text"><img src="<?php echo $base_url; ?>/img/frontend/favicon.png"></a></li>
                        <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/retreats'><span>RETREATS</span></a>
                            <ul>
                          <?php
                          $getginfo = $retreats;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/retreats/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>


                                <!-- <li><a class='caps' href='<?php echo $base_url;?>/page/healyourbodysoul2days'><span>Heal Your Body & Soul - (2 DAYS)</span></a></li>
                                <li><a class='caps' href='<?php echo $base_url;?>/page/findyourpurpose3or4days'><span>Find Your Purpose (3 or 4 DAYS)</span></a></li>
                                <li><a class='caps' href='<?php echo $base_url;?>/page/manifestyourdream5or6days'><span>Manifest Your Dream (5 or 6 DAYS)</span></a></li> -->
                            </ul>
                        </li>

                        <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/workshops'><span>WORKSHOPS</span></a>

                            <ul>
                          <?php
                          $getginfo = $workshops;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/workshops/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>


                                <!-- <li><a class='caps' href='<?php echo $base_url;?>/page/guidedmeditation'><span>Guided Meditation</span></a></li>
                                <li><a class='caps' href='<?php echo $base_url;?>/page/energyopeningtraining'><span>Energy Opening Training</span></a></li>
                                <li><a class='caps' href='<?php echo $base_url;?>/page/thirdeyeopeninglevelone'><span>3rd Eye Opening (Level 1)</span></a></li>
                                <li><a class='caps' href='<?php echo $base_url;?>/page/vortexhikemeditation'><span>Vortex Hike & Meditation</span></a></li>
                                <li><a class='caps' href='<?php echo $base_url;?>/page/crystalpalacevisitguidedmeditation'><span>Crystal Palace - Visit & Guided Meditation</span></a></li>
                                <li><a class='caps' href='<?php echo $base_url;?>/page/bodymindspiritintegration'><span>Body, Mind & Spirit Integration</span></a></li> -->
                            </ul>
                        </li>

                        <li class='uppercase has-sub last'>
                            <a class="menu-text" href='<?php echo $base_url;?>/blog/all'><span>BLOG</span></a>
                        </li>

                    </ul>
                    </div>

                </div>

            </div>
        </div>


    </div>
    <!-- Web menu ends -->

        <!-- Mobile menu starts -->
    <div class="mobile-menu">
        <div class="menu-button"><a class="menu-text">Sedona Healing Arts</a></div>
        <nav>
          <ul class="flexnav" style="padding-left: 0px;">
            <li><a class="mob-menu-text" href="<?php echo $base_url;?>/healing">HEALING</a>
              <ul style="padding-left: 0px;">

                  <?php
                  $getginfo = $healing;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/healing/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>


                <!-- <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/chakrabalancingandcrystalhealing">Chakra Balancing & Crystal Healing</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/reflexology">reflexology</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/relaxation">relaxing massage</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/hotstonemassage">hot stone massage</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/deeptissuemassage">deep tissue massage</a></li> -->
              </ul>
            </li>
            <li><a class="mob-menu-text" href="<?php echo $base_url;?>/readings">READING</a>
              <ul style="padding-left: 0px;">
                    <?php
                  $getginfo = $readings;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/readings/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>



                <!-- <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/spiritualguidance">spiritual guidance</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/intuitivereading">intuitive reading</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/pastlifereading">past life reading</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/couplesreading">couple's reading</a></li> -->
              </ul>
            </li>
            <li><a class="mob-menu-text" href="<?php echo $base_url;?>/acupuncture">ACUPUNCTURE</a>
              <ul style="padding-left: 0px;">
                  <?php
                  $getginfo = $acupuncture;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/acupuncture/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>


                <!-- <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/spiritualacupuncture">spiritual acupuncture</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/elementsacupuncture">5 elements acupuncture</a></li> -->
              </ul>
            </li>
            <li><a class="mob-menu-text" href="<?php echo $base_url;?>/retreats">RETREATS</a>
              <ul style="padding-left: 0px;">
                    <?php
                  $getginfo = $retreats;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/retreats/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>



                <!-- <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/healyourbodysoul2days">Heal Your Body & Soul - (2 DAYS)</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/findyourpurpose3or4days">Find Your Purpose (3 or 4 DAYS)</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/manifestyourdream5or6days">Manifest Your Dream (5 or 6 DAYS)</a></li> -->
              </ul>
            </li>
            <li><a class="mob-menu-text" href="<?php echo $base_url;?>/workshops">WORKSHOPS</a>
              <ul style="padding-left: 0px;">
                    <?php
                  $getginfo = $workshops;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/workshops/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>



                <!-- <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/guidedmeditation">Guided Meditation</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/energyopeningtraining">Energy Opening Training</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/thirdeyeopeninglevelone">3rd Eye Opening (Level 1)</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/vortexhikemeditation">Vortex Hike & Meditation</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/crystalpalacevisitguidedmeditation">Crystal Palace - Visit & Guided Meditation</a></li>
                <li><a class="mob-menu-text caps" href="<?php echo $base_url;?>/page/bodymindspiritintegration">Body, Mind & Spirit Integration</a></li> -->
              </ul>
            </li>
              <li><a class="mob-menu-text" href="<?php echo $base_url;?>/blog/all">BLOG</a>
              </li>
          </ul>
        </nav>

    </div>
    <!-- Mobile menu ends -->

</header>

<!-- Seperator -->



<!-- Header ends -->
<!-- Below Banner starts -->

 <div class="banner-container index-bg" title="Sedona Healing Arts">

    <div class="banner-description">
      <div class="row margin-right-979">
        <div class="col-sm-7">
          <div class="banner-msg">
            <p class="banner-title1">Welcome!</p>
            <div class="banner-phar1">
              <span> Whatever path brought you here, there is a
                reason why you came. Open your ears and
                listen. Listen to the message that Sedona
                has for you.
              </span>
            </div>
            <br/>
            <div class="button"><a href="<?php echo $base_url;?>/aboutsedonahealingarts" class="learn-sedona">LEARN ABOUT SEDONA HEALING ARTS</a></div><br/>
          </div>
        </div>
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-5">
          <div class="banner-photo">
            <img class="photo" src="/img/frontend/photo_101.jpg">
          </div>
        </div>
      </div>
    </div>
    <img src="/img/frontend/sedona_baner_index.jpg" class="pinterest-img" alt="<?php echo $title; ?>">
  </div>


<!-- Below Banner ends -->

<!-- Quete starts -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="phar italic border-left">
                <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                  <?php $gettesti = $testimonials->data; ?>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <?php
                        $x = 0;
                        foreach($gettesti as $key => $value) { ?>
                        <div class="item <?php echo $x == 0 ? "active" : ""; ?>">
                          <div class="row testi-home">
                            <div class="col-sm-2">
                                <div style="background-image : url(<?php echo $imageLink.'/uploads/testimonialpic/'.$gettesti[$key]->picture; ?>)" class="testi-img-home"></div>
                            </div>
                            <div class="col-sm-9 size16 testi-qoute">
                                  <span>
                                    <span class="fa fa-quote-left"></span> <?php echo $gettesti[$key]->message; ?><br/> <br/>
                                  </span>
                                  <div class="text-right">
                                    - <?php echo $gettesti[$key]->name." ".date('M j,Y', strtotime($gettesti[$key]->date)); ?>
                                  </div>
                                </div>
                            </div>
                        </div>
                    <?php $x = 1; } ?>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#testimonials-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#testimonials-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
        </div>
      </div>
    </div>
  </div>

<!-- Quete ends -->

<!-- Pictures Starts -->


   <div class="container">
    <div class="row center margin-right-979 services">
      <div class="col-sm-4 marg-bot padlr ">
        <div class="title2">
            <a class="linkmain" href="<?php echo $base_url;?>/readings/intuitive-reading">
                 <span>INTUITIVE READING</span>
            </a>
        </div>
          <div class="title2-nopadding">
              <a class="linkmain" href="<?php echo $base_url;?>/readings/intuitive-reading">
                  <span class="thin-font">Clarity for Any Situation</span>
              </a>
          </div>
          <div class="col-sm-12 no-padding">
              <a class="linkmain index-feature-thumb" style="background-image: url('<?php echo $imageLink;?>/uploads/pageimage/sedona_baner_intuitive3.jpg')" href="<?php echo $base_url;?>/readings/intuitive-reading" title="Intuitive Reading">
              </a>
              <img src="<?php echo $imageLink;?>/uploads/pageimage/sedona_baner_intuitive3.jpg" class="pinterest-img" alt="Intuitive Reading">
          </div>
            <div class="col-sm-12 no-padding text-phar2 text-left summary-content"><span>Intuitive Readings are a powerful tool to bring clarity to any situation; past, current and future relationships, work and career, life purpose, spiritual growth, health, as well as finances.
                <a href="<?php echo $base_url;?>/readings/intuitive-reading">Learn more.</a></span>
            </div>
            <div class="button2 col-sm-12"><a href="<?php echo $base_url;?>/booking" class="learn-sedona service-btn">MAKE AN APPOINTMENT</a></div>
      </div>
      <div class="col-sm-4 marg-bot padlr">
        <div class="title2">
            <a class="linkmain" href="<?php echo $base_url;?>/acupuncture/spiritual-acupuncture">
                <span>SPIRITUAL ACUPUNCTURE</span>
            </a>
        </div>
          <div class="title2-nopadding">
              <a class="linkmain" href="<?php echo $base_url;?>/acupuncture/spiritual-acupuncture">
                  <span class="thin-font">Heal Your Root Issues</span>
              </a>
          </div>
          <div class="col-sm-12 no-padding">
              <a class="linkmain index-feature-thumb" style="background-image: url('/img/frontend/8823297_orig.jpg')" href="<?php echo $base_url;?>/acupuncture/spiritual-acupuncture" title="Spiritual Acupuncture">
              </a>
              <img src="/img/frontend/8823297_orig.jpg" class="pinterest-img" alt="Spiritual Acupuncture">
          </div>
        <div class="text-phar2 col-sm-12 no-padding text-left summary-content"><span>Release the foundational emotional and spiritual trauma that holds physical tension and illness in the cellular memory of the body.
        <a href="<?php echo $base_url;?>/acupuncture/spiritual-acupuncture">Learn more.</a>
        </span></div>
        <div class="button2 col-sm-12"><a href="<?php echo $base_url;?>/booking" class="learn-sedona service-btn">MAKE AN APPOINTMENT</a></div>
      </div>
      <div class="col-sm-4 marg-bot padlr">
        <div class="title2">
            <a class="linkmain" href="<?php echo $base_url;?>/healing/chakra-balancing-crystal-healing">
                <span>CHAKRA HEALING</span>
            </a>

        </div>
          <div class="title2-nopadding">
              <a class="linkmain" href="<?php echo $base_url;?>/healing/chakra-balancing-crystal-healing">
                  <span class="thin-font">Release Energetic Tension</span>
              </a>
          </div>
          <div class="col-sm-12 no-padding">
              <a class="linkmain index-feature-thumb" style="background-image: url('<?php echo $imageLink; ?>/uploads/pageimage/chakra-balancing-and-crystal-healing.jpg')" href="<?php echo $base_url;?>/healing/chakra-balancing-crystal-healing" title="Chakra Healing">
              </a>
              <img src="<?php echo $imageLink; ?>/uploads/pageimage/chakra-balancing-and-crystal-healing.jpg" class="pinterest-img" alt="Chakra Healing">
          </div>
        <div class="text-phar2 col-sm-12 no-padding text-left summary-content"><span>The Chakra Balancing & Crystal Healing will leave you feeling deeply relaxed, refreshed, hopeful, and renewed.
        <a href="<?php echo $base_url;?>/healing/chakra-balancing-crystal-healing">Learn more.</a>
        </span></div>
        <div class="button2 col-sm-12"><a href="<?php echo $base_url;?>/booking" class="learn-sedona service-btn">MAKE AN APPOINTMENT</a></div>
      </div>
    </div>

  </div>

  <div class="container">
    <hr class="styled-hr">
    <div class="row center margin-right-979 services">
      <div class="col-sm-6 marg-bot">
        <div class="title4">
        <a class="linkmain" href="<?php echo $base_url;?>/retreats/heal-your-body-and-soul">
        <span>HEAL YOUR BODY & SOUL</span>
        </a>
        </div>
        <div class="title5">
        <a class="linkmain" href="<?php echo $base_url;?>/retreats/heal-your-body-and-soul">
        <span>2 Day Retreat</span>
        </a>
        </div>
        <div class="title6"><span>Customized Healing Experience</span></div><br/>
        <a href="<?php echo $base_url;?>/retreats/heal-your-body-and-soul"><div class="col" style="background-image : url('/img/frontend/img_101.jpg') ; height : 151px; background-position : center; background-size : cover;" title="Heal your body & soul"></div></a>
        <img src="/img/frontend/img_101.jpg" class="pinterest-img"  alt="Heal your body & soul">
        <div class="text-phar2 text-left">
            <span>
                The Heal Your Body & Soul Weekend Retreat is a customized healing experience that will help you restore balance in your life.
                <a href="<?php echo $base_url;?>/retreats/heal-your-body-and-soul">Learn more.</a>
            </span>
        </div><br/>
        <div class="button2"><a href="<?php echo $base_url;?>/booking" class="learn-sedona">SCHEDULE YOUR RETREAT</a></div>
      </div>
      <div class="col-sm-6 marg-bot">
        <div class="title4">
        <a class="linkmain" href="<?php echo $base_url;?>/retreats/find-your-purpose">
                <span>FIND YOUR PURPOSE</span>
            </a>
        </div>
        <div class="title5">
            <a class="linkmain" href="<?php echo $base_url;?>/retreats/find-your-purpose">
                <span>3 to 4 Day Retreat</span>
            </a>
        </div>
        <div class="title6"><span>Discover Your Life's Passion</span></div><br/>
        <a href="<?php echo $base_url;?>/retreats/find-your-purpose"><div class="col" style="background-image : url('/img/frontend/img_100.jpg') ; height : 151px; background-position : center; background-size : cover;" title="Find your purpose"></div></a>
        <img src="/img/frontend/img_100.jpg" class="pinterest-img" alt="Find your purpose">
        <div class="text-phar2 text-left">
            <span>
                The Find Your Purpose Retreat will help you figure out what you really want from life, and give you the courage, confidence, and tools to boldly bring that dream to fruition.
                <a href="<?php echo $base_url;?>/retreats/find-your-purpose">Learn more.</a>
            </span>
        </div><br/>
        <div class="button2"><a href="<?php echo $base_url;?>/booking" class="learn-sedona">SCHEDULE YOUR RETREAT</a></div>
      </div>
    </div>
    <hr class="styled-hr">
  </div>

<!-- Pictures Ends -->

<!-- Blogs Starts -->

   <?php

      $getginfo = $latestnews;
      $viewcount = 0;
    ?>

  <div class="container">
    <div class="row center margin-right-979">
      <div class="col-sm-12 marg-bot text-left list-title-blog" onclick="window.location = '/blog/<?php echo $getginfo[0]->newsslugs; ?>';">
        <div class="title7 text-left margin-bot10"><span>Latest Blog Post</span></div>


              <?php
              $thumb;
              $iconplay;
              if(!empty($getginfo[0]->videothumb)){
                  $src = array();
                  preg_match('(src="https://www.youtube.com/embed/(.*?)")e', $getginfo[0]->videothumb, $src);
                  $thumb = 'http://img.youtube.com/vi/'.$src[1].'/hqdefault.jpg';
                  $iconplay = ' <div class="youtube-play-index"><img src="/img/youtubeplay.png"/></div>';
              }elseif(!empty($getginfo[0]->imagethumb)){
                  $thumb =  $imageLink.'/uploads/newsimage/'.$getginfo[0]->imagethumb;
                  $iconplay = '';
              }

              ?>

          <div class="col-sm-3 news-thumb-container-index" style="background-image: url('<?php echo $thumb?>')" title="<?php echo $getginfo[0]->title; ?>">
              <?php echo $iconplay;?>
              <a href="/blog/{[{ news.newsslugs; }]}">
              </a>
          </div>
          <img src="<?php echo $thumb; ?>" class="pinterest-img" title="<?php echo $getginfo[0]->title; ?>">
          <div class="col-xs-8 col-md-7 news-list-desc">
              <div class="row">

                      <div class="col-sm-12">
                          <span class="size25 font1 news-title"><a href="<?php echo $base_url;?>/blog/<?php echo $getginfo[0]->newsslugs; ?>"><?php echo $getginfo[0]->title; ?></a></span>
                      </div>
                      <div class="col-sm-12">
                          <strong><span class="thin-font1 orange">
                                            <?php
                                            $x = 1;
                                            foreach($getginfo[0]->categorylist as $c=>$val){
                                                 echo $val->categoryname;
                                                echo $x == count($getginfo[0]->categorylist) ? "" : ", ";
                                                $x++;
                                            }
                                            ?>
                              </span></strong> <span class="thin-font1"> / by <strong><span class="orange"><?php echo $getginfo[0]->name; ?></span></strong></span> / <?php echo $getginfo[0]->date; ?>
                          <br/><br/>
                      </div>
                      <div class="col-sm-12">
                          <div class="font1 size14 summary">
                              <?php echo $getginfo[0]->summary; ?>
                              <br/><br/>
                          </div>
                      </div>

                      <!-- <div class="col-sm-12 font1 size15">
              <br/>

              </div> -->
                      <div class="col-sm-12"><a class="anchor" href="<?php echo $base_url;?>/blog/all">See more posts</a></div>
              </div>

              <div style="clear:both"></div>
              <br>
          </div>

      </div>
    </div>
        <hr class="styled-hr">
  </div>
<!-- Blogs Ends -->


<!-- Store Info starts -->

  <div class="container storeinfo">
    <div class="row marg-bot margin-right-979">


        <div class="col-sm-2"><br/><br/><br/><br/>
          <img class="col" src="/img/frontend/sedona_owner.png" id="owner-img" alt="Banya Lim">
        </div>
        <div class="col-sm-6 title2 center">
          <span class="titlel">From the Owner</span>

        <div class="text-left">
          <div class="title2 left">
            <span class="title7">Welcome to Sedona Healing Arts!</span><br/>
            <div class="text-phar2 text-left">
            It's my absolute honor and joy to help you figure out what isn't working in your life, and offer intuitive insight and practical tools to get your
            life on a track that makes you deliriously happy and completely satisfied.  I look forward to spending time with you and sharing the very special
            energy of Sedona.  See you soon!
            </div>
          </div><br/>
        </div>
        </div>

      <div class="col-sm-4 center">
        <div class="title2">
          <span class="titlel">Tune In</span>
        </div><br/>
        <a href="http://www.changeyourenergy.com/news/1684/20151001-the-new-spirit-based-life-advice-talk-show-heart-of-sedona" target="_blank"><img class='col' id="special-offer" src="/img/frontend/^203A03FF376474A658FE30EF2BAA3DE9169125C3F7991BDA27^pimgpsh_fullsize_distr.jpg"  alt="Special Offer"></a>
      </div>
    </div>
    <hr class="styled-hr">
  </div>

  <div class="container">
    <div class="row margin-right-979">
      <div class="col-sm-12 title2">
        <span class="titlel">Store Information</span>
      </div>
    </div>
    <div class="row margin-right-979">
      <div class="col-sm-7 center">
        <div class="wsite-map"><iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 250px; margin-top: 10px; margin-bottom: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.673285579057!2d-111.7637428!3d34.8644358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da1564d73fd15%3A0x3e31d123930491bf!2s201+Hwy+179%2C+Sedona%2C+AZ+86336%2C+USA!5e0!3m2!1sen!2sph!4v1434348998372"></iframe></div>
      </div>
      <div class="col-sm-5 text-left storeinfo-details">
        <div class="title3">
          <span class="text-top"><span class="titleb">Phone:</span> (928) 282-3875</span> <br/>
          <span class="text-top"><span class="titleb">Email:</span> contact@sedonahealingarts.com</span> <br/>
          <span class="text-top"><span class="titleb">Hours:</span> Mon - Sun: 10 am - 7 pm</span>  <br/> <br/>
        </div>
        <div class="title3">
          <span class="titleb text-top">Address:</span> <br/>
          <span class="text-top">201 State Route 179</span> <br/>
          <span class="text-top">Sedona, AZ 86336</span>
        </div>
      </div>
    </div>
    <hr class="styled-hr">
  </div>

<!-- Store Info ends -->

<!-- Footer starts -->
<footer>
    <div class="row margin-right-979">
        <div class="col-sm-12">
            <div class="paragraph" style="text-align:center;">
                <p>
                    <a href="<?php echo $base_url;?>/aboutsedonahealingarts" title="">About Sedona Healing Arts</a>
                    &nbsp; | &nbsp;
                    <a href="<?php echo $base_url;?>" title="">Home</a>
                    &nbsp; | &nbsp;
                    <a href="<?php echo $base_url;?>/healing" title="">Healing</a>
                    &nbsp; | &nbsp;
                    <a href="<?php echo $base_url;?>/readings" title="">Readings</a>
                    &nbsp; <!-- &nbsp; -->| &nbsp;<!-- &nbsp; -->
                    <a href="<?php echo $base_url;?>/acupuncture" title="">Acupuncture</a>
                    &nbsp; | &nbsp;
                    <a href="<?php echo $base_url;?>/retreats" title="">Retreats</a>
                    &nbsp;<!-- &nbsp; --> | &nbsp;<!-- &nbsp; -->
                    <a href="<?php echo $base_url;?>/workshops" title="">Workshops</a>
                    &nbsp;<!-- &nbsp; --> | &nbsp;<!-- &nbsp; -->
                    <a href="<?php echo $base_url;?>/booking" title="">Book Online</a>
                    &nbsp;<!-- &nbsp; --> | &nbsp;<!-- &nbsp; -->
                    <a href="<?php echo $base_url;?>/blog/all" title="">Blog</a>
                    &nbsp;<!-- &nbsp; --> | &nbsp;<!-- &nbsp; -->
                    <a href="<?php echo $base_url;?>/contactus" title="">Contact Us</a>
                </p> <br/>
                <p class="copy">Copyright © 2015 · All Rights Reserved · Sedona Healing Arts · 201 State Route 179, Sedona, AZ 86336
                </p>
            </div>
        </div>
    </div>
</footer>


<!-- Footer ends -->

<!-- Scroll to top -->
<!-- <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> -->

<!-- JS -->
<script src="fe/js/jquery.js"></script> <!-- jQuery -->
<script src="fe/js/bootstrap.js"></script> <!-- Bootstrap -->
<script src="fe/js/bootstrap-hover-dropdown.min.js"></script> <!-- Bootstrap Menu -->
<script src="fe/js/stickytop.js"></script>

<script src="vendors/angular/angular.min.js"></script>
<!-- google recaptcha -->
<script src="vendors/angular-recaptcha/release/angular-recaptcha.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"></script>

<script>
    // very simple to use!
    $(document).ready(function() {
        $('.js-activated').dropdownHover().dropdown();
    });
</script>

<script src="fe/js/jquery.flexnav.min.js" type="text/javascript"></script>
<script type="text/javascript">


        jQuery(document).ready(function($) {

            // initialize FlexNav
            $(".flexnav").flexNav();
        });

</script>

  <!-- Google Analytics -->
  <?php echo $gscript; ?>

  <!-- sticky navbar script -->
  <script>
    $(window).scroll(function() {
        var devicewidth = window.innerWidth;

        if(devicewidth > 799){
            if($(this).scrollTop() > 220)
            {
                $(".web-menu").addClass('sticky-nav');
                $(".web-menu #cssmenu > ul > li > a").addClass('padding21');
                $("body").css({"padding-top": "70px"});
                $(".web-menu ul li.hidden").addClass('show');
                $(".web-menu ul li.hidden").removeClass('hidden');
            }else {
                $(".web-menu").removeClass('sticky-nav');
                $(".web-menu #cssmenu > ul > li > a").removeClass('padding21');
                $("body").css({"padding-top": "0"});
                $(".web-menu ul li.show").addClass('hidden');
                $(".web-menu ul li.show").removeClass('show');
            }
        }else {
            $(".web-menu").removeClass('class','sticky-nav');
            $("body").css({"padding-top": "0"});
            if($(this).scrollTop() > 358)
            {
                $(".mobile-menu").addClass('sticky-nav');
                $("body").css({"padding-top": "70px"});
            }else {
                $(".mobile-menu").removeClass('sticky-nav');
                $("body").css({"padding-top": "0"});
            }
        }
    });
    $('.carousel').carousel({ interval : 10000 })
  </script>
</body>
</html>
