
<!-- Banner Starts -->
<div class="top-banner-inner">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <h1 class="stronger">Create a Mission Map</h1>
        </div>
    </div>
</div>
<!-- Banner ends -->

<!-- Page content starts -->

<div class="content contact" ng-controller="MapsCreateCtrl">
    <div class="container">
        <div class="row" ng-hide="loader">
            <div class="col-md-12">
                <!-- Contact -->
                <div ng-show="markers.length == 0"  >
                    <div class="alert alert-info alert-dismissible pin-pic-error" role="alert" > 
                        <i class="fa fa-info-circle"></i>
                        Your first Pin will be your KingPin, it will be where your cause originated.
                        <button type="button" ng-click="hideInfoButton()" class="close pin-pic-error-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <div ng-show="showDelete">
                    <div class="alert alert-danger alert-dismissible pin-pic-error" role="alert" > 
                        Are you sure you want to delete this pin?
                        <a ng-click="deletePin()"> <strong>Yes </strong></a>
                        <a ng-click="hideDeleteButton()"> <strong>No </strong> </a>
                        <button type="button" ng-click="hideDeleteButton()" class="close pin-pic-error-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <!-- Google maps -->
                <script type="text/ng-template" id="control.tpl.html">
                    <button class="btn btn-sm btn-primary togglebutton" ng-click="controlClick()"> <i class="fa fa-bars"></i>  </button>
                </script>
                <div class="gmap">
                    <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events">
                        <ui-gmap-map-control template="control.tpl.html" position="right-top" controller="InfoWindowCtrl" index="-1"></ui-gmap-map-control>
                        <ui-gmap-marker ng-repeat="m in markers" coords="m.coords" idkey="m.id" options="m.options" events="m.events">
                            <ui-gmap-window show="m.show">
                                <div ng-controller="InfoWindowCtrl">
                                    <span dynamic = "buttons"></span>
                                    <a ng-click="deleteMarker('asdfasdf')"><i class="fa fa-minus-circle"></i> Delete</a>
                                </div>
                            </ui-gmap-window>

                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
                <div class="gmap-marker-info" style="display: none; width: 35%; position: relative; float: left;" >
                    <form name="form1">
                        <!-- Tabs -->
                        <div class="col-md-12">
                            <tabset justified="true">
                                <tab heading="Marker Info">
                                    <div class="form-group" id="markerInfo">
                                        <label for="exampleInputEmail1">Description</label>
                                        <input class="form-control" ng-model="mk.description" ng-change="saveMarkerInfo(mk)">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Video Link</label>
                                        <input type="text" class="form-control" id="name" ng-model="mk.videolink" ng-change="saveMarkerInfo(mk); viddisp(mk.videolink)">
                                    </div>
                                    <div ng-bind-html="videodisplay"> </div>
                                    <div class="check-success" ng-show="notiCheck"><i class="fa fa-check-circle"></i></div>
                                </tab>
                                <tab heading="Picture" id="pictureTab">
                                    <div ng-file-drop ng-file-select ng-model="files" class="drop-box" 
                                            drag-over-class="dragover" ng-multiple="true" ng-file-change="prepare($files)" allow-dir="true"
                                            accept="image/*">Drop pdfs or images here or click to upload</div>
                                            <div class="alert alert-danger alert-dismissible pin-pic-error" role="alert" ng-repeat="fe in flashError">
                                              <button type="button" ng-click="removeerror($index)" class="close pin-pic-error-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <strong>{[{ fe.name }]}</strong> image size is too big.
                                            </div>
                                            <ul class="pin-pic-list">
                                                <li ng-repeat="f in currentPinImages" style="font:smaller">{[{ f.name }]}
                                                <a href="" class="remove-pin-pic" ng-click="removepinpic($index)"><i class="fa fa-remove"></i></a></li>
                                            </ul>
                                        <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>

                                </tab>
                            </tabset>

                        </div>
                    </form>
                </div>

                <div class="bor"></div>

            </div>

        </div>
        <div class="row" ng-hide="loader">
            <div class="col-md-6 map-info-left">
                <div class="cwell">
                    <!-- Contact form -->
                    <h4 class="title">Map Information</h4>
                    <form role="form">
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control" id="name" ng-model="gmap.title" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mission Description</label>
                            <textarea class="form-control" rows="5" ng-model="gmap.description" required></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="gmap.showauthor"> Show my name as creator.
                            </label>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="saveMap(gmap)">Send</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </form>
                    <hr />
                </div>
            </div>
            <div class="col-md-6 map-info-right">
                <div class="cwell">
                    <!-- Address section -->
                    <i class="fa fa-cog fa-spin"></i>
                    <h4 class="title">Map Creation Guidelines</h4>
                    <div class="address">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis vel risus in aliquam. Quisque dolor arcu, maximus eu mi vitae, imperdiet tempor lorem. Nam tincidunt elit a eros facilisis tempus. Vestibulum sollicitudin nisl risus, ac dapibus lorem dapibus eu. Nunc pellentesque tellus quis consectetur consectetur. Nunc at odio blandit, egestas dolor sed, facilisis nisl. Mauris eget erat ipsum. Nunc vitae feugiat neque. Suspendisse suscipit mi sodales finibus finibus. Nullam feugiat ornare magna, nec euismod dui venenatis eget. Vestibulum a faucibus sem. Etiam eros nulla, pretium quis nibh vel, dignissim blandit dolor. </p>
                        <input type="checkbox" > Accept the terms and conditions?
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="row" ng-show="loader">
            <div class="cwell text-center">
                <img src="/img/preloader3.gif"/>
            </div>
            <div class="cwell text-center">
                <h4 class="context-loader">{[{ loaderText }]}</h4>
            </div>
        </div>
    </div>
</div>

<!-- Page content ends -->
