<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Are you sure you want to delete this Author?</div>
	<div class="modal-body" ng-show="viewconflicts==true">
    	<h5>This author has a blog post. If you want to delete this author please change every news author (select author name and click the edit button)</h5>
    	<table class="table table-striped b-t b-light">
    		<thead>
    			<tr>
    				<th width="40%">Title</th>
    				<th>Authors</th>
                    <th>Action</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="news in authconflict">
    				<td>{[{ news.title }]}</td>
    				<td><select class="form-control m-b" ng-model="news.authorid" required="required" ng-options="a.authorid as a.name for a in authors">
                    </td>
                    <td>
                    <input type="hidden" ng-model="news.id">
                    <a href="" ng-click="editauthor(news)"><span class="label bg-warning">Edit</span></a></td>
                </tr>
    		</tbody>
    	</table>
    </div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-disabled="disabledelete==true" ng-click="ok(authorid)">Delete</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>




