<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		<p>{[{ msg }]}</p>
	</div>

	<footer class="panel-footer" ng-show="showbuttons">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="ok()">Delete</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
