<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="modal-body">
    	<p>Are you sure you want to delete this Page?</p>
    </div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="ok(pageid)">Delete</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>




