<form class="bs-example form-horizontal" name="categoryform" novalidate ng-submit="ok(category)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Edit Category
        </div>

        <div class="row wrapper">
        <div class="col-sm-12">
             <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
        </div>
            <div class="col-sm-10">
                <input type="hidden" ng-model="category.id">         
                <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.title" required="required" placeholder="Title" ng-keyup="onpagecategorytitle(category.title)">
                <br>
                <input type="text" id="subtitle" name="subtitle" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.subtitle" placeholder="Sub Title for landing page.">
                <br>
                <input type="text" id="metatitle" name="metatitle" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.metatitle" placeholder="Meta Title">
                <br>
                <textarea id="metadesc" name="metadesc" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.metadesc" placeholder="Meta Description"> </textarea>
                <br>
                <input type="text" id="metakeyword" name="metakeyword" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.metakeyword" placeholder="Meta Keywords">
                <br>
                <input colorpicker ng-model="category.color" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern width90px pull-left">
                <div class="colorpicker-colorbox form-control pull-left" style="background-color: {[{ category.color }]}"></div>
                <br>
         </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
                <button type="submit" class="btn btn-success" ng-disabled="categoryform.$invalid">Save</button>
            </footer>
        </div>
    </div>
    
</form>