<div class="panel panel-default">

  <div class="panel-heading">
    <i class="icon-info"></i>
    Are you sure you want to delete this tag?</div>
  <div class="modal-body" ng-show="viewconflicts==true">
    <h5>This Tag contains blog post. If you want to delete this tag please change every news tag (select tag type and click the edit button)</h5>
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th width="40%">Title</th>
          <th width="24%">Author</th>
          <th>Tags</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="news in catconflict">
          <td>{[{ news.title }]}</td>
          <td>{[{ news.name }]}</td>
          <td>
            <select class="form-control m-b" ng-model="news.id" ng-options="t.id as t.tags for t in tags" required="required"></td>
            <td>
              <input ng-model="news.id" type="hidden">
              <a href="" ng-click="editTag(news)">
                <span class="label bg-warning">Edit</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer class="panel-footer">
      <div class="pull-right">
        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-primary" ng-disabled="disabledelete==true" ng-click="ok(id)">Delete</a>
      </div>
      <div style="clear:both;"></div>
    </footer>

  </div>
