<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Update Meta Data of <span ng-bind="book.module"> </span></div> <input type="hidden" ng-model="book.id">
	<div class="panel-body">
		<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

				<form class="bs-example form-horizontal" name="testipage">
				<div class="col-sm-12">
					
					<div class="col-sm-12 m-b-xs">
					<div class="form-group">
						Meta Title
							<input type="text" id="metatitle" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="book.metatitle" required="required" placeholder="Meta Title">
							</div>
					</div>
					<div class="col-sm-12 m-b-xs">
					<div class="form-group">
					Meta Description
							<textarea id="metadesc" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="book.metadesc" required="required" placeholder="Meta Description"> </textarea>
						</div>
					</div>
					<div class="col-sm-12 m-b-xs">
					<div class="form-group">
						Meta Keywords (separate keyword with a comma)
						<textarea id="metadesc" id="metakeyword" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="book.metakeyword" required="required" placeholder="Meta Keywords"> </textarea>
					</div>
					</div>
				</div>
				</form>

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Close</button>
			<button class="btn btn-primary" ng-click="ok(book)" ng-disabled="testipage.$invalid || saving">Save</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
