<form name="formvid">
	<style type="text/css">
		iframe{
			width: 100%;
			height: 250px;
			/*max-width:500px; */
		}
		video {
			width: 100% !important;
			height: 250px;
			/*max-width:500px; */
		}
	</style>
	<div class="panel panel-default">

		<div class="panel-heading font-bold">
			Add Video
		</div>

		<div class="panel-body">

			
			<div style="padding:10px;" ng-bind-html="vidpath"></div>
			<div ng-model="previewvideo" class="newsvid">
				{[{ upVid.path}]}
			</div>
			
			<div class="line line-dashed b-b line-lg"></div>
			
			<label class="control-label">
				<label for="title">Paste your embed video URL here...</label>
			</label>
			<textarea ng-model='video' ng-change='pastevid(video)' required="required" class="form-control" rows="4" style="resize:vertical;"></textarea>
			<div class="line line-dashed b-b line-lg"></div>

			<footer class="panel-footer text-right bg-light lter">
				<button type="button" ng-click="cancel()" class="btn m-b-xs w-xs btn-default">Cancel</button>
				<button type="button" ng-click="savevid(video)" class="btn m-b-xs w-xs btn-success" ng-disabled="formvid.$invalid">Submit</button>
			</footer>
		</div>

	</div>
</form>



