/*Custom Styles from Developers*/


/*Downloaded Fonts*/
@font-face {
	font-family: 'Raleway-ExtraLight';
	src: url('../fonts/Raleway-ExtraLight.ttf');
}
@font-face {
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
	font-family: 'Raleway-SemiBold';
	src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway-Bold.ttf');
}
@font-face {
	font-family: 'Proxima-Nova-Alt-Regular';
	src: url('../fonts/Proxima-Nova-Alt-Regular.otf');
}
@font-face {
	font-family: 'Proxima-Nova-Alt-Light';
	src: url('../fonts/Proxima-Nova-Alt-Light.otf');
}
@font-face {
	font-family: 'Proxima-Nova-Alt-Bold';
	src: url('../fonts/Proxima-Nova-Alt-Bold.otf');
}
@font-face {
	font-family: 'HaloHandletter';
	src: url('../fonts/HaloHandletter.ttf');
	src: local('HaloHandletter'),
		url("../fonts/halohandletter-webfont.eot"),
		url('../fonts/halohandletter-webfont.woff') format('woff'),
		url('../fonts/halohandletter-webfont.otf') format('opentype'),
		url('../fonts/halohandletter-webfont.svg#HaloHandletter') format('svg');
}
/*End of Downloaded Fonts*/

header{
	padding: 0px;
	margin: 0px;
}
a:hover{
	text-decoration: none;
}

body {
	background: url('../../img/frontend/sedona_bg.png') no-repeat center bottom;
	margin: 0px;
	padding: 0px;
}

/* loader */
 .spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.loadercontainer
{
 text-align: center;
 overflow: hidden;
}
/* loader */
/*Global Class*/
img.col{
	width: 100%;
}
.menu-color{
	color: #888785 !important;
}
.text-phar2{
	font-family: 'Proxima-Nova-Alt-Regular';
	margin-top: 20px;
	font-size: 15px;
	line-height: 1.5;
	color: #7b7b7b;
}
.thin-font{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 18px;
	line-height: 200%;
}
.thin-font3{
	font-family: 'Proxima-Nova-Alt-Light';
	font-weight: 100;
}
.thin-font1{
	font-family: 'Proxima-Nova-Alt-Light';
	line-height: 150%;
}
.bold-font{
	font-family: 'Proxima-Nova-Alt-Bold';
	line-height: 150%;
}
.caps{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.italic{
	font-style: italic;
}
.underline{
	text-decoration: underline;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.border-left{
	border-left: thick solid #d0d0d0;
	padding-left: 30px;
}
.column-height{
	height: 500px;
}
.styled-hr{
	width: 100%;
	height: 1px;
	background-color: #d0d0d0;
}
.line-span{
	width: 100%;
	height: 1px;
	border: 2px solid #d0d0d0;
}
.phar1{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 20px;
	color: #ffffff;
}
.center{
	text-align: center;
}
.marg-top{
	margin-top: 30px;
}
.marg-bot{
	margin-bottom: 25px;
}
.phar{
	font-family: 'Proxima-Nova-Alt-Regular';
	margin-top: 15px;
	font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.5;
	color: #7b7b7b;
}
.text-top{
	line-height: 1.5;
}
.size30{
	font-size: 30px;
}
.size25{
	font-size: 25px;
}
.size20{
	font-size: 20px;
}
.size18{
	font-size: 18px;
}
.size17{
	font-size: 17px;
}
.size16{
	font-size: 16px;
}
.size15{
	font-size: 15px;
}
.size14{
	font-size: 14px;
}
.size50{
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	word-wrap: break-word;
	padding-top:15px;
}
.bold{
	font-weight: bold;
}
.no-padding{
	padding: 0px 0px 0px 0px !important;
}
.no-margin{
	margin: 0px 0px 0px 0px !important;
}
.font1{
	font-family: 'Proxima-Nova-Alt-Regular' !important;
}
.font2{
	font-family: 'Proxima-Nova-Alt-Bold' !important;
}
.margin-left{
	margin-left: 30px;
}
.margin-left20{
	margin-left: 20px;
}
.margin-top{
	margin-top: 15px;
}
.margin-bot8{
	margin-bottom: 8px;
}
.margin-top10{
	margin-top: 10px;
}
.margin-bot10{
	margin-bottom: 10px;
}
.margin-top15{
	margin-top: 15px;
}
.margin-bot15{
	margin-bottom: 15px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-bot20{
	margin-bottom: 20px;
}
.margin-top30{
	margin-top: 30px;
}
.margin-bot30{
	margin-bottom: 30px;
}
.margin-top40{
	margin-top: 40px;
}
.margin-bot40{
	margin-bottom: 40px;
}
.margin-top50{
	margin-top: 50px;
}
.margin-bot50{
	margin-bottom: 50px;
}
.margin-top80{
	margin-top: 80px;
}
.margin-bot80{
	margin-bottom: 80px;
}
.margin-top100{
	margin-top: 100px;
}
.margin-bot100{
	margin-bottom: 100px;
}
.padding-topbot20{
	padding: 20px 0px 20px 0px;
}
.padlr{
	padding: 0px 5px 0px 5px !important;
}
.margin-top5{
	margin: 5px 0px 0px 0px;
}
.orange{
	color: rgb(222, 162, 39);
}
.red{
	color: rgb(255, 37, 37);
}
.line-height150{
	line-height: 150%;
}
img.rss{
	vertical-align: text-bottom;
}
.float-left{
	float: left;
}
.col-1{
	width: 8.333333333333333%;
}
.col-2{
	width: 16.66666666666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33333333333333%;
}
.col-5{
	width: 41.66666666666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33333333333333%;
}
.col-8{
	width: 66.66666666666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33333333333333%;
}
.col-11{
	width: 91.66666666666667%;
}
.col-12{
	width: 100%;
}
.textbox{
	padding: 5px 5px 5px 5px;
	width: 100%;
	border: solid 1px #A9A8A8;
}
.textarea{
	padding: 5px 5px 5px 5px;
	width: 100%;
	height: 200px;
	border: solid 1px #A9A8A8;
}

/*End of Global Class*/
img.news-tumb{
	width: 100%;
	border: solid 1px #A9A8A8;
}
img.newsfeaturedimage{
	max-width: 100%;
}
.featured-image{
	max-width: 100%;
	height: 400px;
	background-size: cover !important;
	background-position: center !important;
}
h4.blog-title-list{
	border-top: 2px solid #D0D0D0;
	margin-top:15px;
}
h5.blog-title-list{
	border-top: 2px solid #D0D0D0;
	margin-top:15px;
	padding-left:15px;
}
.padding-left15{
	padding-left: 15px;
}
.img-news-author{
	width: 18% !important;
}
.timeline-news{
	height: 170px;
	background: transparent url("../../img/lingrey.png") no-repeat scroll 58% 50%;
	border-top: 1px dashed #f2f2f2;
	border-bottom: 1px dashed #f2f2f2;
}
.news-thumb-container{
	position:relative;
	width: 30%;
	height: 170px;
	background-size: cover !important;
	background-position: center !important;
	margin-left: 15px;
	padding: 0px;
}
.news-thumb-container-index{
	position:relative;
	width: 25%;
	height: 170px;
	background-size: cover !important;
	background-position: center !important;
	margin-left: 0px;
	padding: 0px;

}
.youtube-play{
	position: absolute;
	top:0px;
	width:100%;
	margin-top: 25%;
	text-align: center;
}
.youtube-play-index{
	position: absolute;
	top:0px;
	width:100%;
	margin-top: 19%;
	text-align: center;
}
.radius-bg{
	border-radius: 100%;
	border: 5px solid #fff;
	background-color: #f2f2f2;
	width: 40px;
	height: 40px;
	float: right;
	margin: 110% 0% 0px 0px;
	padding: 5px 0px 0px 0px;
	text-align: center;
}
.list-news-wrapper{
	border-top: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	padding-top: 15px;
}
.list-title-blog{
	color: #666;
	cursor: pointer;
	margin-bottom: 20px;
}
.list-title-blog .news-title{
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
	line-height: 25px;
	word-wrap: break-word;
}
.list-title-blog .news-thumb-container , .list-title-blog .news-thumb-container-index{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

	-webkit-transition: border .2s ease-out;
	-moz-transition: border .2s ease-out;
	-o-transition: border .2s ease-out;
	transition: border .2s ease-out;
}
.a-little-about-me{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.list-title-blog:hover .news-title{
	color: #FF9641;
}
.list-title-blog:hover .news-thumb-container, .list-title-blog:hover .news-thumb-container-index{
	border: 5px solid #FF9641;
}
.news-list-show-more{
	width: 98%;
	height: 30px;
	margin: auto;
}
img.author-img{
	width: 100%;
	height: auto;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	margin: auto;
	display: block;
	margin-bottom: 2%;
	/* Firefox 1-3.6 */
	-moz-border-radius: 100%;
}
div.img-author-page{
	max-width: 27%;
	min-width: 200px;
	margin: auto;
}
ul.flexnav{
	padding-left: 0px !important;
}
.sedona-logo{
	text-align: center !important;
	/*z-index: 998;*/
	max-width: 302px;
	margin: auto;
}
img.sedonalogo{
	width: 300px;
	margin: auto;
}
.top-header{
	padding-top: 20px;
	padding-bottom: 16px;
	margin:0px;
	position: relative;
	/*z-index: 0;*/
}
.upper-header{
	height: 55px;
	background: url('../../img/frontend/header_shadow.png') repeat-x bottom;
	z-index: 999;
	padding: 5px 0px 0px 50px;
}
.contact-us-sun{
	background: url('../../img/frontend/sunlight.png') no-repeat right -220% top 45%;
	height: 201px;
	width: 900px;
	position: absolute;
	top: 0px;
	right:0px;
	/*z-index: 999; */
}
.contact-us-sun-inside{
	width: 390px;
	height: 200px;
	float: right;
	margin-top: 25px;
	text-align: center;
}
.width390{
	width: 390px;
	margin: auto;
}
.book-now{
	background-color: #66563f;
	width: 240px;
	padding: 10px 10px;
	margin: auto;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	/*z-index: 999;*/

	border: 2px solid #8AC007;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */

}
.book-now:hover{
	background-color: #534634;
}
a.book{
	color: #ffffff;
}
.contact-us-mobile{
	display: none;

}

footer a{
	color: #e98331 !important;
	font-size: 16px !important;
}
.banner{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 350px;
	overflow: hidden;
}
.banner-container{
	width: 100%;
	margin: auto;
}
.title-color{
	color: #912a6f;
}
.social-top{
	text-align: right;
	padding-top: 20px;
}
.top-bg{
	background: url('../../img/frontend/new_header_bg.png') no-repeat;
	background-size: cover;
}
.dropbg{
	background-color: #f9f6ef !important;
}
a.menu-text{
	font-family: 'Proxima-Nova-Alt-Regular';
	font-size: 20px !important;
	color: #ffffff !important;
}
a.mob-menu-text{
	font-family: 'Proxima-Nova-Alt-Regular';
	font-size: 16px !important;
	color: #ffffff !important;
}
a.sub-text{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 14px !important;
	color: #ffffff !important;
}
a.linkmain{
	color: rgb(222, 162, 39);
}
.submenu-text{
	font-family: 'Proxima-Nova-Alt-Regular';
	font-size: 14px !important;
	color: #ffffff !important;
}
.submenu-text:hover{
	color: #9C9B99 !important;
}
.menu-margin{
	padding-top: 0px;
	text-align: center;
}
.mbtn{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 17px !important;
	padding-right: 17px !important;
}
.menu-left{
	padding-left: 12px;
}
.menu-center{
	width: 90%;
	margin: auto;
	text-align: center;
}
.index-bg{
	background:url(../../img/frontend/sedona_baner_index.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	width: 100%;
	height: 482px;
}
.index-bg2{
	background:url(../../img/frontend/retreats_page.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 482px;
}
.banner-description{
	padding-top: 49px;
	margin: auto;
	width: 61%;
	text-align: center;
	position: relative;
}
.banner-msg{
	width: 100%;
	text-align: left;
	background: rgba(0, 0, 0, 0.5);
	padding: 62px 62px 62px 62px;
	/*position: absolute;*/
}
.banner-title{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(63, 63, 63);
	padding: 0px 0px 0px 0px;
}
.banner-title1{
	font-family: 'HaloHandletter' !important;
	line-height: 86px;
	font-size: 86px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
}
.banner-phar{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 20px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;
}
.banner-phar1{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 20px;
	/*line-height: 20px;*/
	color: #ffffff;
	padding: 0px 0px 0px 0px;
}
.banner-photo{
	margin-top: 50px;
	/*background: rgba(5, 5, 5, 0.5);*/
	right: 0px;
	text-align: right;
	position: relative;
}
.banner-photo img.photo{
	border: solid 2px #ffffff;
	/*right: 0px;*/
	position: relative;
	width: 115%;
	text-align: right;
	margin-left: -60px;
}
.title1{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(63, 63, 63);
}
.subtitle{
	font-size: 16px;
	padding: 5px 20px 25px 20px;
	font-style: italic;
	height: 75px;
	text-align: center;
	vertical-align: middle;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}
.title2{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 23px;
	color: rgb(222, 162, 39);
	padding-top: 20px;
}
.title2-nopadding{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 23px;
	color: rgb(222, 162, 39);
	padding-bottom: 20px;
}
.index-feature-thumb{
	width: 100%;
	height: 210px;
	background-position: center;
	background-size: cover;
	float:left;
}
.title3{
	font-family: 'Proxima-Nova-Alt-Regular';
	font-size: 18px;
	color: #5f5e5e;
	padding-top: 10px;
}
.title4{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 33px;
	color: rgb(222, 162, 39);
	padding-top: 20px;
	line-height: 33px;
}
.title5{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(222, 162, 39);
	padding-top: 15px;
}
.title6{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 23px;
	color: rgb(222, 162, 39);
	padding-top: 15px;
}
.title7{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 23px;
	color: #7b7b7b;
	padding-top: 15px;
}
.title8{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 18px;
	color: rgb(222, 162, 39);
	padding-top: 15px;
}

.title9{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(63, 63, 63);
}
.anchor{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 14px;
}
.date{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 12px;
	color: #7b7b7b;
	padding-top: 10px;
}
.titleb{
	font-weight: bold;
}
.side-bar-color{
	color: #dea227;
}
.button a, .button a:visited{
	font-weight: 500;
	font-size: 15px;
	background: #dea227;
	border-bottom:0px solid transparent;
	padding: 10px 20px;
	border-radius: 0px;
	color: #ffffff;
}
.button a:hover{
	background:#ebc013;
	color: #ffffff;
}
.button2 a, .button2 a:visited{
	font-weight: 500;
	font-size: 14px;
	background: #e98331;
	border-bottom:0px solid transparent;
	padding: 10px 20px;
	color: #ffffff;
	position: relative;
	margin-bottom: -100%;
}
.button2 a:hover{
	text-decoration: none;
	background:#e98331;
	color: #ffffff;
}
.web-menu-bg{
	background: #6cb04b;
	text-align: center;
}
.mobile-menu-bg{
	background:#ff9641;
}
.mobile-menu{
	display: none;
}
.web-menu{
	display: block;
	background: #6cb04b;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	/*background-color: #39283A;*/
	color: #000;
	text-decoration: none;
}

.index-blog-video{
	width: 385px;
	height: 246.563px;
}



/*start of HEALING css*/

.about-sedona-bg{
	background:url(../../img/frontend/banner_about.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*start of HEALING css*/

.healing-bg{
	background:url(../../img/frontend/healing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

/*end of HEALING css*/

/*start of READINGS css*/

.readings-bg{
	background:url(../../img/frontend/readings.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

/*end of READINGS css*/

/*start of acupuncture css*/

.acupuncture-bg{
	background:url(../../img/frontend/acupuncture.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 300px;
	overflow: hidden;
}


/*end of acupuncture css*/

.notfound-bg{
	background:url(../../img/frontend/404.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 360px;
	overflow: hidden;
}

.blog-bg{
	background:url(../../img/frontend/blog.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}
/* Blog Banner*/

/*start of CHAKRA BALANCING & CRYSTAL HEALING css*/

.chakra-balancing-and-crystal-healing-bg{
	background:url(../../img/frontend/chakra-balancing-and-crystal-healing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.chakra-balance-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	line-height: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.chakra-balance-phar{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;
}
/*end of CHAKRA BALANCING & CRYSTAL HEALING css*/

/*start of relaxation-massage css*/

.relaxation-massage-bg{
	background:url(../../img/frontend/relaxation-massage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*end of relaxation-massage css*/

/*start of REFLEXOLOGY css*/

.reflexology-bg{
	background:url(../../img/frontend/reflexology.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*end of REFLEXOLOGY css*/

/*start of HOT STONE css*/

.hot-stone-bg{
	background:url(../../img/frontend/banner-hot-stone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*end of HOT STONE css*/

/*start of HOT STONE css*/

.deep-tissue-bg{
	background:url(../../img/frontend/banner-deep-tissue.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*end of HOT STONE css*/

/*start of Spirit Guidance css*/

.spirit-guidance-bg{
	background:url(../../img/frontend/spirit-guidance.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*end of Spirit Guidance css*/

/*start of Past Life css*/

.past-life-reading-bg{
	background:url(../../img/frontend/past-life-reading.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*end of Past Life css*/

/*start of Couple's Reading css*/

.couples-reading-bg{
	background:url(../../img/frontend/couple-reading.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*end of Couple's Reading css*/

/*start of Spiritual Acupuncture css*/

.spiritual-acupuncture-bg{
	background:url(../../img/frontend/spiritual-acupuncture.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*start of 5-elements-acupuncture css*/

.elements-acupuncture-bg{
	background:url(../../img/frontend/elements-acupuncture.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

/*end of 5-elements-acupuncture css*/

/*start of intuitive css*/

.intuitive-bg{
	background:url(../../img/frontend/sedona_baner_intuitive3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.intuitive-banner-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.intuitive-banner-phar{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;
}

/*end of intuitive css*/

/*start of retreats css*/

.retreats-bg{
	background:url(../../img/frontend/sedona_baner_retreats.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.retreats-bg-heal-your-body-soul{
	background-image:url("../../img/frontend/hyb_banner_cover.jpg");
}
.retreats-bg-find-your-purpose{
	background-image:url("../../img/frontend/fyp_banner.jpg");
	background-position: 50% 35%;
}
.retreats-bg-find-your-purpose{
	background-image:url("../../img/frontend/fyp_banner.jpg");
	background-position: 50% 35%;
}
.retreats-bg-manifest-your-dream{
	background-image:url("../../img/frontend/myd_banner.jpg");
}
.workshops-crystal-palace{
	background-image:url("../../img/frontend/crystalpalace_banner.jpg");
}
.retreats-banner-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.retreats-banner-phar{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;
}
img.retreats-thumb{
	width: 211px;
	max-width: 100%;
	border-color:#d0d0d0 ;
	padding: 1px !important;
	border-width: 1px;
	border-style: solid;
}

/*end of retreats css*/

/* Workshops */
.workshops-bg{
	background:url(../../img/frontend/workshops_banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
/* end of workshops*/

/*start of massage css*/

.massage-bg{
	background:url(../../img/frontend/sedona_baner_massage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 400px;
}
.massage-banner-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.massage-banner-phar{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;
}

/*end of massage css*/

/*start of blog css*/

.blog-bg{
	background:url(../../img/frontend/blog.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0;
	width: 100%;
	height: 350px;
}
.blog-banner-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.blog-banner-phar{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;
}

/*end of blog css*/

.summary-content{
	height: 150px;
	float: left;
}
/* Landing page columns */

.landing-page-cols-first, .landing-page-cols{
	float:left;
	width: 31.3%;
	margin-top: 40px !important;
	background-color: #f2eae5;
	padding-bottom: 20px;
	min-width: 179px;
}
.landing-page-cols-first, .landing-page-cols{
	margin: 0px 1% 0px 1%;
}
.landing-page-cols-first .text-phar, .landing-page-cols .text-phar{
	margin-top: 10px;
	padding: 0px 20px 0px 20px;
	min-height:270px;
	font-size: 16px;
}
.landing-page-cols-thumb{
	background-size: cover !important;
	background-position: center !important;
	height: 210px;
	background-repeat: no-repeat ;
	color: #fff;
	padding-top: 50% !important;
}
.imagethumbtitle{
	height: 100%;
	padding: 10px 0px 10px 0px;
	line-height: 20px;
	font-size: 20px !important;
	text-align: center;
	vertical-align: middle;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+14&amp;0+0,0.65+15 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.61) 14%, rgba(0,0,0,0.65) 15%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(14%,rgba(0,0,0,0.61)), color-stop(15%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.61) 14%,rgba(0,0,0,0.65) 15%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.61) 14%,rgba(0,0,0,0.65) 15%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.61) 14%,rgba(0,0,0,0.65) 15%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.61) 14%,rgba(0,0,0,0.65) 15%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
.black-box{
	width: 60%;
	margin: auto;
	margin-top: 2.5%;
	color: #fff;
	text-align: center;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .5);
	padding: 20px 20px 40px 20px;
}
.black-box .banner-title{
	color: #fff;
	font-size: 60px;
	font-family: 'HaloHandletter' !important;
	line-height: 60px;
}
.black-box .banner-sub-title1{
	color: #fff;
	font-size: 30px;
	font-family: Proxima-Nova-Alt-Bold;
	line-height: 30px;
}
.black-box .banner-sub-title2{
	color: #fff;
	font-size: 40px;
	font-family: Proxima-Nova-Alt-Bold;
}
.title-thumb{
	margin-top: 7%;
	font-size: 20px;
	line-height: 20px;
}
/* end of Landing page columns */

footer{
	padding-bottom: 20px;
	padding-top: 100px;
}



.padding-left20{
	padding-left: 10%;
}
.padding-left0{
	padding-left: 0px !important;
}

.content-text h3,h2{
	padding: 8px 0px;
}

.sidebar1{
	margin-top: 75px;
}
.sidebar1 .button{
	margin-top: 20px;
}
.sidebar1 .button a{
	font-size: 18px;
	font-weight: bold;
}
.grayfont{
	color: rgb(142, 142, 142);
}
.title-like-header{
	color: #666;
	padding-top: 10px;
	font-weight: bold;
}

.retreats-section{
	padding: 0px !important;
	margin: 0px !important;
}
.about-video{
	margin: auto;
	width: 560px;
	height: 315px;
}

.padding-author-head{
	padding: 40px 0px 0px 80px;
}

.news-list-desc .summary{
	word-wrap: break-word;
}
.summary{
	word-wrap: break-word;
}

/* jeevon */
.top-header {
	width:100%;
}
.top-header > div.col-sm-12 {
	margin: auto;
	float: none;
}
.sticky-nav {
	position: fixed;
	left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}
.web-menu > .container {
	padding: 0px;
}
.web-menu > .container > .row > .col-sm-12 > #cssmenu > ul > li > a > img {
	height: 43px;
    margin-top: -8px;
}
.show {
	display: inline-block!important;
}
.padding21 {
	padding:0 21px!important;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.btn-sedona,
.btn-sedona:active {
	background: #FF8421 none repeat scroll 0% 0%;
	color:#fff;
}
.btn-sedona:hover {
	background: #EBC013 none repeat scroll 0% 0%;
	color:#fff;
}
div.testi-home {
	border-bottom: 1px solid #d0d0d0;
	margin:auto;
}
div.testi-img-home {
	width: 70%;
	margin:auto;
	padding: 33% 0;
	display: block;
	border-radius: 100%;
    border: solid 1px #A9A8A8;
    -webkit-filter: grayscale(100%);
    background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
div.testi-qoute {
	line-height: 1.5;
	padding-top: 5px;
	padding-bottom: 5px;
}
#special-offer {
	width: 100%;
}
.hidden {
	display: none;
}
.list-title-blog .news-thumb-container-index {
	margin-bottom: 2%;
}

/* booking form */
/* .form-validation.booking .form-control {
	padding-right: 35px;
} */
.form-validation.booking .form-control.ng-dirty.ng-invalid {
  border-color: #f05050;
}
.form-validation.booking .form-control.ng-dirty.ng-valid,
.form-validation.booking .form-control.ng-dirty.ng-valid:focus {
  border-color: #27c24c;
}/*
.fa-times {
  color: #f05050;
}
.fa-check {
  color: #27c24c;
}
.validation-icon {
	position: absolute;
	top: 4px;
	right: 25px;
}
.validation-icon.fa-times {
	top: 21px;
} */

/* tags font */
.tagfont {
	line-height: 1;
}
.tagfont1 {
	font-size: 15px;
}
.tagfont2 {
	font-size: 20px;
}
.tagfont3 {
	font-size: 14px;
}
.tagfont4 {
	font-size: 25px;
}
.tagfont5 {
	font-size: 18px;
}
.blog-videos {
	width: 100%;
}
.about-author > div.col-sm-10 > p {
	text-align: left;
}
.ul-archives > a {
	display: block;
	font-size: 16px;
	padding: 5px 0px;
}

.categorylist-wrapper > span {
	display: block;
	font-size: 17px;
}
.sedona-logo-container {
	width: 50%;
	margin: auto;
}
.author-img-pg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding:50% 0;
	border-radius: 100%;
	margin-bottom: 2%;
}
.authorimg-width {
	width: 100%;
	padding: 50% 0;
	margin: auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
}
#testimonials-carousel > .carousel-control.left,
#testimonials-carousel > .carousel-control.right {
	background-image: none;
}
#testimonials-carousel > .carousel-control .glyphicon-chevron-left {
	margin-left: -60px;
	color:#dedede;
}
#testimonials-carousel > .carousel-control .glyphicon-chevron-right {
	margin-right: -60px;
	color:#dedede;
}
.pinterest-img {
	/* opacity: 0; */
	visibility: collapse;
	position: absolute;
	top:0;
	left:0;
	height: 0px;
}
@media screen and (max-width: 1321px){
	.button a, .button a:visited {
		font-size: 14px
	}
}
@media screen and (max-width: 1199px){
	.web-menu a {
		font-size: 18px!important;
	}
}
@media screen and (max-width: 1100px){
	.contact-us-sun{
		background-size: 80%;
		background-position: right -100% top 45%;
	}
	.contact-us-sun-inside{
		width: 370px;
	}
	.contact-us-sun-inside h1{
		font-size: 29px;
	}
}
@media screen and (max-width:1149px){
	.button a, .button a:visited {
		font-size: 14px;
	}
}
@media screen and (max-width: 1000px){
	.contact-us-sun{
		background-size: 70%;
		background-position: right -65% top 45%;
	}
	.contact-us-sun-inside{
		width: 285px;
	}
	.contact-us-sun-inside h1{
		font-size: 25px;
	}
	.contact-us-sun-inside h3 {
		font-size: 18px;
	}
}
@media screen and (max-width: 947px){
	.services .title2 {
		font-size: 22px;
	}
}
@media screen and (max-width: 925px) {
	.services .title2 {
		font-size: 21px;
	}
}
@media screen and (max-width: 908px){
	.services .title2 {
		font-size: 20px;
	}
}
@media screen and (max-width: 900px){
	header > .top-bg > .container > .row {
		margin:auto;
	}
	.contact-us-sun{
		display: none;
	}
	.contact-us-mobile{
		display: block;
	}
	.upper-header{
		text-align: center;
		padding: 0px;
	}
}

@media screen and (max-width: 890px){
	.contact-us-sun{
		background-size: 70%;
		background-position: right -65% top 45%;
	}
	.contact-us-sun-inside{
		width: 285px;
	}
	.contact-us-sun-inside h1{
		font-size: 30px;
	}
}

@media screen and (max-width:1426px) {


	.banner-description{
		position: none;
	}
}

/*@media screen and (max-width:1385px) {	*/
	/**/
	/*.top-bg{*/
		/*background-size: 98% 100%;		*/
	/*}*/
/*}*/

@media screen and (max-width:1315px) {

	.banner-msg{
		padding: 30px 30px 30px 30px;
	}
}
@media screen and (max-width:1132px) {

	.button a, .button a:visited{
		font-size: 12px;
		padding: 10px 10px;
	}
}

@media screen and (max-width:979px) {

	.container{
		/*margin-right: 0px;*/
		/*margin-left: 0px;*/
		width:100% !important;
	}
	.margin-right-979{
		margin-right: 0px;
	}
	.index-bg{
		height: auto;
		margin: auto;
	}
	#cssmenu a {
		padding: 0px 15px;
	}
	.mob-container{
		width: 100%;
	}
	.intuitive-bg{
		height: auto;
		margin: auto;
	}
	.banner-description{
		padding-left: 0px;
		padding-top: 0px;
		width: 100%;
	}
	.respad{
		padding: 0px 0px 0px 0px;
		position: none;
	}
	.banner-msg{
		padding: 50px 50px 50px 50px;
		margin: 30px 30px 30px 30px;
	}
	.banner-photo img.photo{
		width: 100%;
		margin: 30px 30px 30px -70px;
	}
	.banner-phar {
    padding: 30px 0px 20px 0px;
	}
	.button {
    margin: 10px 0px 5px 0px;
	}
	.banner-container {
		width: 100%;
		margin: auto;
	}
	.banner-title{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(63, 63, 63);
	padding: 30px 0px 0px 0px;
	}
	.mobile-menu-width{

		margin: auto;
	}
	.index-blog-video{
		width: 100%;
		height: 246.563px;
	}
	.landing-page-cols-first, .landing-page-cols{

	}
	.landing-page-cols-first .text-phar, .landing-page-cols .text-phar {
		min-height: 350px;
	}

	.landing-page-cols-first .button2 a, .landing-page-cols .button2 a {
		font-size: 12px;
	}
	.span12 {
		width: 100%;
	}
}
@media screen and (max-width: 933px){
	.padding21 {
		padding:0 20px!important;
	}
}
@media screen and (max-width:923px){
	.blog-videos {
		height: 344px;
	}
}
@media screen and (max-width: 918px){
	.padding21 {
		padding:0 19px!important;
	}
}
@media screen and (max-width: 905px){
	.padding21 {
		padding:0 18px!important;
	}
}
@media screen and (max-width: 894px){
	.services .title4 {
		font-size: 31px;
	}
}
@media screen and (max-width: 891px){
	.padding21 {
		padding:0 17px!important;
	}
}
@media screen and (max-width: 872px){
	.services .title4 {
		font-size: 30px;
	}
}
@media screen and (max-width: 877px){
	.padding21 {
		padding:0 16px!important;
	}
}
@media screen and (max-width: 877px){
	.padding21 {
		padding:0 15px!important;
	}
}
@media screen and (max-width: 851px){
	.blog-videos {
		height: 314px;
	}
	.padding21 {
		padding:0 14px!important;
	}
}
@media screen and (max-width: 845px){
	.padding21 {
		padding:0 13px!important;
	}
}
@media screen and (max-width: 833px){
	.services .title2 {
		font-size: 18px;
	}
	.web-menu a {
		font-size: 16px!important;
	}
}
@media screen and (max-width:825px){
	.services .title2 {
		font-size: 18px;
	}
}
@media screen and (max-width:823px){
	.services .title4 {
		font-size: 28px;
	}
}
@media screen and (max-width:806px) {

	#cssmenu a {
		padding: 0px 10px;
	}
	a.menu-text {
		font-style: 16px;
	}
	a.mob-menu-text {
		font-style: 14px;
	}

}

@media screen and (max-width:799px) {

	.mobile-menu{
		display: block;
	}
	.web-menu{
		display: none;
	}

}
@media screen and (max-width: 795px){
	.services .title4 {
		font-size: 28px;
	}
}
@media screen and (max-width: 791px){
	.blog-videos {
		height: 288px;
	}
}
@media screen and (max-width: 787px){
	.services .service-btn {
		font-size: 12px;
	}
}
@media screen and (max-width: 775px){
	.services .title4 {
		font-size: 27px;
	}
}
@media screen and (max-width:767px) {

	.index-bg{
		width: 100%;
		height: auto;
		margin: auto;
	}
	.intuitive-bg{
		width: 100%;
		height: auto;
		margin: auto;
	}
	.banner-description{
		padding-left: 0px;
		padding-top: 30px;
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.banner-container {
		width: 100%;
		margin: auto;
	}
	.banner-msg{
		padding: 30px 30px 30px 30px;
		margin: 0px 0px 0px 0px;
	}
	.banner-photo img.photo{
		width: 65%;
		margin: 0px 0px 30px 0px;
	}
	.mobile-menu-width{

		margin: auto;
	}
	.banner-photo{
		margin-top: 40px;
		text-align: center;
	}
	.social-top{
		text-align: center;
		padding-top: 20px;
	}
	.index-blog-video{
		width: 100%;
		height: 400px;
	}
	header{
		padding: 0px !important;
	}
	.landing-page-cols-first, .landing-page-cols{
	}
	.row{
		margin: 0px !important;
	}
	.width390{
		width: 100%;
		text-align: center;
	}
	.news-list-desc, .news-thumb-container{
		float:left;
	}
	.news-thumb-container{
		height: 150px;
		width: 150px;
	}
	.news-list-desc{
		padding: 0px;
	}
	.list-title-blog{
		margin-bottom: 10px !important;
	}
	.timeline-news{
		width: 64px;
	}
	.timeline-news, .news-thumb-container-index, .news-list-desc{
		float: left;
	}
	div.testi-img-home {
		width: 100px;
		height: 100px;
		padding: 0;
	}
	.services .title2 {
		font-size: 23px;
	}
	.summary-content {
		margin-bottom: 40px;
		height: auto;
	}
	.services .title4 {
		font-size: 33px;
	}
	#special-offer, #owner-img {
		width: auto;
		margin:auto;
		display: block;
	}
	#special-offer {
		width: 150px;
		height:150px;
		margin:auto;
		display: block;
	}
	.services .service-btn {
		font-size: 14px;
	}
	.storeinfo > div > div.col-sm-2 > br {
		display: none;
	}
	.storeinfo > div > div.col-sm-2 {
		padding-top: 25px;
	}
	.about-author > div.col-sm-10 > p {
		text-align: center;
	}
	img.author-img {
		width: 120px;
	}
	.featured-image {
		height: 350px;
	}
	.authorimg-width {
		width: 120px;
		height: 120px;
		padding: 0;
	}
	#testimonials-carousel > .carousel-control .glyphicon-chevron-left {
		margin-left: -50px;
		color:#dedede;
	}
	#testimonials-carousel > .carousel-control .glyphicon-chevron-right {
		margin-right: -50px;
		color:#dedede;
	}
}
@media screen and (max-width: 624px){
	.featured-image {
		height: 300px;
	}
}
@media screen and (max-width: 555px){
	/*.news-list-desc, .news-thumb-container{*/
		/*width: 90%;*/
	/*}*/
	.news-list-desc{
		width: 100%;
	}
	.news-list-desc .col-sm-12{
		padding-left: 15px;
	}
	.news-thumb-container{
		width: 90%;
		height: 200px;
	}
	.youtube-play{
		margin-top: 70px;
	}
	div.testi-qoute {
		font-size: 14px;
	}
}
@media screen and (max-width:680px) {
	.timeline-news{
		display: none;
	}
	.news-thumb-container-index{
		width: 90%;
		height: 200px;
	}
	.news-list-desc{
		width: 90%;
	}
	.retreats-section .landing-page-cols-first, .retreats-section .landing-page-cols{
		width: 48%;
	}
	/*.retreats-section .myd, .retreats-section .cp, .retreats-section .hbs{*/
		/*margin-left: 2%;*/
	/*}*/
	.black-box .banner-title{
		font-size: 400%;
	}
	.black-box .banner-sub-title1{
		font-size: 200%;
	}
	.about-video{
		width: 100%;
	}
	.landing-page-cols .text-phar, .landing-page-cols-first .text-phar {
		min-height: 320px;
	}
}
@media screen and (max-width:742px) {

	.banner-title{
		font-size: 25px;
	}
	.banner-phar{
		font-size: 18px;
	}
}
@media screen and (max-width: 637px){
	.news-title {
		font-size: 35px;
	}
}
@media screen and (max-width: 589px) {
	.blog-bg {
		background-position: -10px;
	}
}
@media screen and (max-width: 565px){
	.blog-videos {
		height: 267px;
	}
}
@media screen and (max-width: 541px){
	#testimonials-carousel > .carousel-control .glyphicon-chevron-left {
		margin-left: -35px;
		color:#dedede;
	}
	#testimonials-carousel > .carousel-control .glyphicon-chevron-right {
		margin-right: -35px;
		color:#dedede;
	}
}
@media screen and (max-width: 520px){
	.blog-videos {
		height: 242px;
	}
}
@media screen and (max-width: 493px){
	.about-video {
		height: 278px;
	}
}
@media screen and (max-width: 486px){
	.blog-videos {
		height: 224px;
	}
}
@media screen and (max-width: 482px){
	.news-title {
		font-size: 30px;
	}
}
@media screen and (max-width: 466px){
	.services .title4 {
		font-size: 30px;
	}
	.services .title5 {
		font-size: 29px;
	}
	.services .title6 {
		font-size: 20px;
	}
}
@media screen and (max-width:463px) {

	.title-color{
		font-size: 30px;
	}
	.top-header {
		padding-top: 20px;
	}
	.index-blog-video{
		width: 100%;
		height: 300px;
	}
	.retreats-section .landing-page-cols-first, .retreats-section .landing-page-cols{
		width: 98%;
	}
	.retreats-section .text-phar{
		min-height: 150px ;
	}
	.black-box .banner-title{
		font-size: 250%;
	}
	.black-box .banner-sub-title1{
		font-size: 150%;
	}
	.black-box{
		margin-top: 40px;
		width: 100%;
	}
	.landing-page-cols .text-phar, .landing-page-cols-first .text-phar {
		min-height: 250px;
	}
}
@media screen and (max-width: 454px){
	.blog-videos {
		height: 205px;
	}
}
@media screen and (max-width: 445px){
	.author-name {
		font-size: 30px;
	}
}
@media screen and (max-width: 442px){
	.featured-image {
		height: 200px;
	}
}
@media screen and (max-width: 345px){
	div.img-author-page {
		min-width: 0px;
		max-width: 100%;
	}
}
@media screen and (max-width: 433px){
	.news-title {
		font-size: 25px;
		line-height: 30px;
	}
}
@media screen and (max-width: 430px){
	.about-video {
		height: 245px;
	}
}
@media screen and (max-width: 421px){
	.services .title4 {
		font-size: 28px;
	}
	.services .title5 {
		font-size: 27px;
	}
	.services .title6 {
		font-size: 18px;
	}
}
@media screen and (max-width: 419px){
	.blog-videos {
		height: 185px;
	}
}
@media screen and (max-width: 412px){
	#booking h1 {
		font-size: 30px;
	}
	#booking h2 {
	    font-size: 20px;
	    margin-bottom: 0px;
	    padding-bottom: 0px;
	}
}
@media screen and (max-width: 397px){
	.news-title {
		font-size: 20px;
	}
}
@media screen and (max-width: 393px){
	.services .title4 {
		font-size: 26px;
	}
	.services .title5 {
		font-size: 25px;
	}
	.services .title6 {
		font-size: 16px;
	}
	.author-name {
		font-size: 26px;
	}
}
@media screen and (max-width: 392px){
	.about-video {
		height: 223px;
	}
}
@media screen and (max-width: 385px){
	.blog-videos {
		height: 166px;
	}
}
@media screen and (max-width: 372px){
	.storeinfo-details > .title3 {
		font-size: 17px;
	}
}
@media screen and (max-width:370px){
	div.testi-home .col-sm-2,
	div.testi-home div.testi-qoute {
		padding-left:0px;
		padding-right:0px;
	}
}
@media screen and (max-width:368px) {

	.learn-sedona {
		font-size: 11px !important;
	}

	.index-blog-video {
		width: 100%;
		height: 250px;
	}
	img.sedonalogo {
		width: 100%;
	}
	.services .title4 {
		font-size: 23px;
	}
	.services .title5 {
		font-size: 22px;
	}
}
@media screen and (max-width: 362px){
	.contact-us-mobile h3 {
		font-size: 18px;
	}
	.contact-us-mobile h1 {
		font-size: 30px;
	}
	.about-video {
		height: 205px;
	}
}
@media screen and (max-width: 357px){
	div.testi-qoute {
		font-size: 12px;
	}
}
@media screen and (max-width: 355px){
	.news-title {
		font-size: 17px;
		line-height: 25px;
	}
	.author-name {
		font-size: 20px;
	}
}
@media screen and (max-width: 353px){
	#booking h1 {
		font-size: 27px;
	}
	.blog-videos {
		height: 148px;
	}
}
@media screen and (max-width: 336px){
	.about-video {
		height: 190px;
	}
	.services .title4 {
		font-size: 20px;
	}
	.services .title5 {
		font-size: 19px;
	}
}
@media screen and (max-width: 332px){
	.services .title2 {
		font-size: 20px;
	}
}
@media screen and (max-width: 329px){
	#booking h1 {
		font-size: 25px;
	}
}
@media screen and (max-width: 327px){
	.button a, .button a:visited {
		font-size: 10px!important;
	}
}
@media screen and (max-width: 325px){
	.blog-videos {
		height: 130px;
	}
}
@media screen and (max-width: 316px){
	.about-video {
		height: 178px;
	}
}
@media screen and (max-width:322px) {

	.title-color{
		font-size: 25px;
	}
	.top-header {
		padding-top: 10px;
	}
}
@media screen and (max-width: 316px){
	#special-offer {
		width: 100%;
	}
	.storeinfo-details > .title3 {
		font-size: 15px;
	}
}
@media screen and (max-width: 307px){
	.contact-us-mobile h3 {
		font-size: 16px;
	}
	.contact-us-mobile h1 {
		font-size: 25px;
	}
	.button a, .button a:visited {
		font-size: 9px!important;
	}
	.services .title2 {
		font-size: 18px;
	}
	#booking h1 {
		font-size: 23px;
	}
}
@media screen and (max-width: 297px){
	.storeinfo-details > .title3 {
		font-size: 13px;
	}
}
@media screen and (max-width: 290px){
	.button a, .button a:visited {
		font-size: 8px!important;
	}
	#booking h1 {
		font-size: 20px;
	}
	#booking h2 {
		font-size: 18px;
	}
	.blog-videos {
		height: 112px;
	}
}
@media screen and (max-width: 285px){
	.banner-title1 {
		font-size: 70px;
	}
}
