.closebutton{ /* to make a nice looking pure CSS3 close button */
    display:block;
    position:absolute;
    top:-5px;
    right:10px;
    background:red;
    color:white;
    height:20px;
    width:20px;
    line-height:20px;
    font-size:20px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
}

.service-price{

}
.price-control-action{
    visibility: hidden;
}
.service-price:hover .price-control-action {
    visibility: visible;
}
.padding-left0{
    padding-left: 0px !important;
}

.xxx-modal-window .modal-dialog {
    width: 90%;
}


.xxx-modal-window .panel-main {
    height: 500px !important;
    overflow-y: scroll;
}
.galleryactionbutton{
    display: none;
}
.imagegallerystyle{
    cursor: pointer;
}
.check-icon{
    margin:5px;
    font-size: 30px;
    color: green;
}
.selectedstyle{
    border: 5px solid green;
}
.imagegallerystyle:hover{
    border: 5px solid #FF9641;
}
.imagegallerystyle:hover .galleryactionbutton{
    display: block;
}
.smallThumb{
    background-position: center;
    background-size: cover;
    width:35px;
    height: 35px;
}

.youtube-play{
    position: absolute;
    top:0px;
    width:100%;
    margin-top: 20%;
    text-align: center;
}

.width90px {
    width: 90px;
}

.colorpicker-colorbox {
    width: 40px;
    margin-left: 5px;
    border-radius: 4px;
}

.hiddenoverflow {
    overflow: hidden;
}

#profpic {
    width: 200px;
    height: 200px;
}

.label_profile_pic {
    display: block;
    margin:10px 0;
    width: 200px;
}

#testi-profpic {
    width: 120px;
    height: 120px;
}